/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; /* Official v3 imports */

/* Our custom Sass theme will handle this. */
@import "./styles/_ag-custom-theme.scss";
@import "./styles/_custom-datepicker-theme.scss";
@import "./styles/themes.css";
@import "./styles/tippy-theme.css"; /* <-- ADD THIS LINE FOR THE TOOLTIP THEME */


/* Basic Global Styles using our theme variables */
html, body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--app-bg-color);
  color: var(--app-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
